.form{
    width: 60vw !important;
    height: fit-content;
    background-color:#f8f0e5be;
    padding: 2%;
    border-radius: 1vw;
    margin: 3%;
}

.form *{
    margin-top: 1%;
}
.textArea{
    min-height: 35vh !important;
    max-height: 35vh !important;
}

.directionAr{
    direction: rtl;
}

.btn {
 display: inline-block;
 padding: 0.2rem 1.2rem;
 font-size: 1.2vw !important;
 font-weight: bold !important;
 color: black !important;
 border: 1px solid rgb(0, 0, 0) !important; 
 cursor: pointer;
 position: relative;
 background-color: transparent;
 text-decoration: none;
 overflow: hidden;
 z-index: 1;
 font-family: inherit;
 width: 30%;
 margin-left:13.33%;
}

.btn::before {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: #DAC0A3;
 transform: translateX(-100%);
 transition: all .3s;
 z-index: -1;
}

.btn:hover::before {
 transform: translateX(0);
}

.h2{
    border-bottom: 1px solid black;
   
}

.noteNotCreated{
    display: none;
}
.notecreated{
    display: block;
    position: fixed;
    font-size: 3vw;
    text-align: center;
    z-index: 4;
    width: 30vw;
    height: 10vh;
    border-radius: 1vw;
    background-color: #DAC0A3;
    top: 45vh;
    left: 35vw;
    animation: notecreated ease-in 2.5s;
}

@keyframes notecreated {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1
    }
    100%{
        opacity: 0
    }
}


/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1em;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #9fccfa;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1em;
  width: 1em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: #0974f1;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #0974f1;
}

.switch input:checked + .slider:before {
  transform: translateX(1.6em);
}