body{
  background-image: url("./assets/Images/background.png");
  background-repeat: no-repeat;
  background-size: 30vw;
  background-position: center right;
  background-attachment: fixed;
  font-family: 'Times New Roman', Times, serif !important;
}