.note{
    width: 40%;
    min-height: 20vh;
    max-height: 20vh;
    border: 1px solid #EADBC8;
    overflow: hidden;
    border-radius: 1vw;
    padding:0 2%;
    background-color: #f8f0e5be;
    margin-bottom: 2%;
}

.note:hover{
    cursor: pointer;
    background-color: #f8f0e5;
}

.date{
    font-size: 0.7vw;
}
